@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Roboto", "Noto Sans JP", sans-serif;
$second-font-family: "Oswald";
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$white: #fff;
$white2: #F9F2E5;
$black: #000;
$black2: #242424;
$black3: #040404;
$navy: #011950;
$navy2: #001E63;
$deepNavy: #001135;
$gray: #626262;
$gray2: #A9A9A9;
$gray3: #F3F3F3;
$gray4: #F8F8F8;
$gray5: #E2E2E2;
$gray6: #E4E4E4;
$red: #E20000;
// ポートフォリオカスタマイズ用カラー
$deepGreen: #003A27;
$green: #00483C;
$yellowGreen: #C4D701;
$beige: #FBF2E4;
$orange: #DD7437;