@use "global" as *;

.lower-title__ja {
  color: $green;
  font-family: $base-font-family;
  font-size: rem(12);
  font-weight: $bold;
  line-height: calc(17 / 12);
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(23 / 16);
  }
}

.lower-title__en {
  color: $black;
  font-family: $second-font-family;
  font-size: rem(26);
  font-weight: $bold;
  line-height: calc(39 / 26);
  text-transform: capitalize;
  @include mq(md) {
    font-size: rem(40);
    line-height: calc(59 / 40);
  }
}

