@use "global" as *;

.service-menu {
  padding-bottom: rem(50);
}

.service-menu__inner.inner {
  @include mq(md) {
    width: 100%;
    max-width: 1250px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.service-menu__top {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  padding-top: rem(60);
  padding-right: rem(20);
  padding-left: rem(20);
  background-color: $gray4;
  @include mq(md) {
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    display: flex;
  }
}

.service-menu__body {
  @include mq(md) {
    padding-top: rem(111);
    padding-left: rem(50);
    padding-right: rem(110);
    padding-bottom: rem(111);
    width: 46.6666%;
  }
}

.service-menu__number {
  position: relative;
  color: $deepGreen;
  font-family: $second-font-family;
  font-size: rem(32);
  font-weight: $bold;
  line-height: calc(47 / 32);
  @include mq(md) {
    font-size: rem(40);
    line-height: calc(59 / 40);
  }
}

.service-menu__number::after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 10px;
  width: 2px;
  height: rem(30);
  background-color: $black;
  margin-left: rem(10);
  @include mq(md) {
    top: 14px;
    height: rem(34);
    margin-left: rem(16);
  }
}

.service-menu__title {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(29 / 20);
  margin-top: rem(20);
  @include mq(md) {
    font-size: rem(28);
    line-height: calc(41 / 28);
  }
}

.service-menu__text {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $medium;
  line-height: calc(32 / 14);
  margin-top: rem(20);
  @include mq(md) {
    font-size: rem(22);
    line-height: calc(46 / 22);
  }
}

.service-menu__img {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: 0;
    width: 53.3333%;
  }
}

.service-menu__img img {
  aspect-ratio: 335 / 220;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 640 / 500;
    height: 100%;
  }
}

.service-menu__bottom {
  padding-top: rem(20);
  @include mq(md) {
    padding-top: rem(30);
    padding-right: rem(50);
    padding-left: rem(50);
  }
}

.service-menu__feature {
  display: flex;
  align-items: center;
  gap: rem(9);
}

.service-menu__feature-en {
  color: $black;
  font-family: $second-font-family;
  font-size: rem(18);
  font-weight: $medium;
  line-height: calc(27 / 18);
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(22);
    line-height: calc(33 / 22);
  }
}

.service-menu__feature-ja {
  color: $gray;
  font-family: $base-font-family;
  font-size: rem(10);
  font-weight: $medium;
  line-height: calc(14 / 10);
  @include mq(md) {
    font-size: rem(12);
    line-height: calc(17 / 12);
  }
}

.service-menu__description {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $normal;
  line-height: calc(32 / 14);
  margin-top: rem(25);
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(38 / 16);
    margin-top: rem(20);
  }
}

/* ===============================================
画像アニメーション制御用
=============================================== */

@keyframes maskImg {
  0%{
  mask-position: 200% 0%;
  }
  100%{
  mask-position: 0% 0%;

  }
}

.js-maskImg {
  mask-image: linear-gradient(90deg,$black 0% 50% , transparent 100% );
  mask-size: 200% 100%;
  mask-repeat: no-repeat;
  mask-position: 0% 0%;
  @include mq(md) {
    mask-position: 200% 0%;
  }
}

.js-maskImg.is-open{
animation:  maskImg 1s linear forwards;
}